Lists
hetegrogeneous, Mutable, ordered, duplicates are allowed.

In [5]:
a=[1,3, "apple",4.5, True,4+5j, "apple"]
print(a)
print(a[3])
print(a[0:3])

a[4]="orange"
print(a)

[1, 3, 'apple', 4.5, True, (4+5j), 'apple']
4.5
[1, 3, 'apple']
[1, 3, 'apple', 4.5, 'orange', (4+5j), 'apple']

list methods-
append
remove
delete
extend
insert
pop
clear
index
count
sort
reverse
copy
deepcopy

In [5]:
#append - to add elements into the list, sits at the end of the list
a=[1,2,3,4]
a.append(5)
print (a)

b=9
a.append(b)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 9]

In [4]:
# extend - to add multipale elements to the list
a=[1,2,3,4,5]
a.extend([6,5,6])
print(a)

b=[9,10,11]
a.extend(a)
print(b)

[1, 2, 3, 4, 5, 6, 5, 6]
[9, 10, 11]

In [ ]:
# index

a=[1,2,3,4,5]
a.index(5)

# insert (index position, element to insert)
a.insert(0,1)
print(a)

[1, 1, 2, 3, 4, 5]

In [10]:
# pop
a.pop()
print(a)

a.pop(0)
print(a)

[1, 1, 2, 3]
[1, 2, 3]

In [11]:
# remove

a=[1,2,3,4,5]
a.remove(4)
print(a)

[1, 2, 3, 5]

In [12]:
# clear

a.clear()
print(a)

[]

In [13]:
# count

a=[1,2,3,4,5,6,7,8,9,10,11,12]
a.count(4)

1

In [17]:
#sort

a.sort()
print(a)

a.sort(reverse=True)
print(a)

a.sort(reverse=False)
print(a)

a.reverse()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
#copy

a=[1,2,3,4]
b=a.copy()
print(b)

a.append(5)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [ ]:
# deepcopy

import copy
a=[1,2,3,4,[5,6]]
b=copy.deepcopy(a)
print(b)

b[4][0]=100
print(b)

[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, [100, 6]]

#built -in functions
del
len
max
min
sum
sorted

In [23]:

a=[1,2,3,4,5,6,7,8]
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sorted(a))

a=[2,4,6,8,10,0]
new_a=sorted(a)
print(a)
print(new_a)

8
8
1
36
[1, 2, 3, 4, 5, 6, 7, 8]
[2, 4, 6, 8, 10, 0]
[0, 2, 4, 6, 8, 10]

In [24]:
a=[1,2,3,4,5,6,7,8,9,]
del(a[1:3])
print(a)

del(a[0])
print(a)

[1, 4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9]

In [26]:
# membership operators
# in and not in

a=[34,67,12,90]
print(34 in a)
print(92 not in a) 
print(67 not in a)

True
True
False

tuples-
tuples are ordered, heterogeneous, unchangebale, allows duplicates

In [27]:
a=(1,2,3, "red", 1,5,4,2,3)
print(type(a))

<class 'tuple'>

In [28]:
print(a[0])
print(a[0:3])

1
(1, 2, 3)

In [34]:
# tuple methods - count, index

a=(3,5,7,6,6,3,5,3)
print(a.count(3))
print(a.index(7))

t=6,7,8            # tuple packing adding elements
print(type(t))

a,b,c=t  # tuple unpacking
print(a)
print(b)
print(c)

3
2
<class 'tuple'>
6
7
8

In [31]:
# built in functions that cn be used with tuple
t=(3,4,6,7,8,3)
print(len(t))
print(len(t))
print(max(t))
print(min(t))
print(sum(t))

6
6
8
3
31

sets
items are unordered,hetreogeneous,elements must be unique duplicates are not numbers elements must be immutable.

hasability
elements stored within the set must be immutable which means hasabality is followed an element is called hasable when it is of immutable type and can be stored within set.

In [2]:
#defining a set 
a={"monday",2,4,2,5,True, 4+2j,2,4}
print(a)
print (type(a))

b=set(["tuesday",2,2.5,False,3+4j])
print(type(b))

{True, 2, 4, 'monday', 5, (4+2j)}
<class 'set'>
<class 'set'>

In [3]:
a=[1,2,2,1,4,5,"momday","monday"]
print(a)

b=set(a)
print(b)

[1, 2, 2, 1, 4, 5, 'momday', 'monday']
{'momday', 1, 2, 4, 5, 'monday'}

set operation-
union 
intersection
diffrence
symetric diffrence

In [ ]:
a={12,13,14}
b={14,15,16}

print(a|b) #union of two sets
print(a & b) # intersection of two sets
print(a-b) # difference (in a but not in b)
print(a^b) #symmetic diffrence (not common)

set methods 

add
update
remove
discard
pop
issubset
issuperset
isdisjoint
copy

In [ ]:
# add
s={1,2,3}
s.add(4)
print(s)

#update
s={1,2,3}
s.update([2,4,6])
print(s)

#remove
s.remove(4)
print(s)

# discard
s.discard(13)
print(s)

#pop
s.pop()
print(s)

# clear
s.clear()
print(s)

s={1,2,3}
t={1,2,3,4,5,6}
u={1,2,4,5}
print(s.issubset(t))
print(t.issuperset(s))
print(s.isdisjoint(u)) 

b=s.copy()
print(b)

{1, 2, 3, 4}
{1, 2, 3, 4, 6}
{1, 2, 3, 6}
{1, 2, 3, 6}
{2, 3, 6}
set()
True
True
False
{1, 2, 3}

update operation
diffrence update
intersection update
symmentric diffrance update

In [ ]:
a={1,2,3,4,}
print(a)

a.difference_update(b) 
print(a)

a={1,2,3,4,5}
b={2,3}
a.intersection_update(b)
print(a)

a={2,3,4,5}
b={3,4,5}
a.symmetric_difference_update(b)
print(a)

{1, 2, 3, 4}
{1, 4}
{2, 3}
{2}

In [ ]:
#built in function with set

print(len(s))
print(max(s))
print(min(s))
print(sum(s))